numpy
scipy
pandas
matplotlib
altair
tqdm
filelock
typer
sh
asf_core_data@ git+ssh://git@github.com/nestauk/asf_core_data.git
nesta_ds_utils@ git+ssh://git@github.com/nestauk/nesta_ds_utils.git
altair_saver
selenium
